.about {
    width: 100%;
    padding: 25vh;
    background: url('../../assets/aboutBack2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh
}

.aboutp {
    font-size: 22px;
    color: white;
    width: 60%;
    margin: auto;
    text-align: center;
    text-shadow: -3px 3px 2px black
}

.info {
    font-size: 18px;
    width: 90%;
    margin: auto
}


.heading {
    text-align: center;
    color: white;
    text-shadow: -3px 3px 2px black; /*12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29), 
    12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
    12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
    12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29); */
    font-family: 'Marcellus SC';
    font-weight: bold;
    text-decoration: underline;
    font-size: 50px
}

.a {
    padding-bottom: 5vh;
    color: white;
    text-decoration: none
}

.b {
    margin-bottom: 10vh;
    background: rgba(88, 87, 87, 0.8);
    width: 100%;
    padding: 10vh
}

.c {
    margin-top: 15vh;
    margin-bottom: 10vh;
    background: rgba(88, 87, 87, 0.8);
    width: 100%;
    padding: 10vh
}

.services, .process {
    display: flex;
    justify-content: space-evenly
}

.process {
    margin-top: 10vh
}

.design, .construction, .maintenance, .one, .two, .three {
    width: 30%
}

h2 {
    text-align: center;
    color: rgb(144, 144, 144);
    font-family: 'Anton';
    font-weight: bold;
    padding: 5vh 0;
    font-size: 40px;
    text-shadow: -2px 2px 2px black
}

.cover {
    background: url('../../assets/aboutBack.png');
    background-size: cover;
    padding: 0 0 25vh 0;
    background-position: right
}

p, ul {
    font-family: 'Marcellus SC';
    font-weight: bold;
    list-style: none
}

li:before {
    content: '';
    height: 0.3vw;
    width: 0.3vw;
    transform: rotate(45deg);
    background: black;
    display: inline-block;
    margin-right: 1vw;
    margin-left: -2vw;
    position: relative;
    bottom: .2vw;
}

.red {
    color: red
}






.hr {
    background: black;
    width: 50%;
    margin: auto
}

a {
    margin: auto;
    text-decoration: none
}








/* Navbar */

.navbar {
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    background: white;
    box-shadow: 0px 2px 8px black;
    position: fixed;
    top: 0;
    z-index:199;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15vw;
}

.logo {
    width: 11vw;
    margin-left: -5.5vw;
    background: white;
    position: fixed;
    z-index: 200;
    transition: 1s ease-in-out;
    left: 50%;
    top: 0
}

.dropdown {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: white;
    height: 0;
    color: transparent;
    transform: translateY(-10vh) translateX(-6.4vw);
    transition: all 1s ease-in-out;
}

.dropdown a {
    padding: .5vw 2vw;
    color: black;
    font-size: 20px;
    transition: 1s;
    width: 100%;
    z-index: 300;
    position: relative;
    text-align: center
}

.dropdown a:hover {
    transform: scale(1.1);
    color: white;
    background: rgb(189, 189, 189)
}

.dropbtn:hover .dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 200;
    height: 800%;
    transform: translateY(0.2%) translateX(-6.4vw);
}

.home, .dropbtn {
    color: black;
    text-decoration: none;
    font-family: 'Marcellus SC';
    font-weight: bold;
    font-size: 24px;
    transition: 1s
}

.home:hover {
    transform: scale(1.2)
}