<a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo'></a>
<div class='shadow'></div>
<div class='navbar'>
    <div class="left">
        <a href='home' class='navbtn'>Home</a>
        <a class='dropbtn navbtn'>
            Services
            <a class='dropdown'>
                <a href='landscapes'>Landscapes</a>
                <hr class='hr'>
                <a href='hardscapes'>Hardscapes</a>
                <hr class='hr'>
                <a href='land-maintenance'>Landscape Maintenance</a>
                <hr class='hr'>
                <a href='land-design'>Landscape Design</a>
                <hr class='hr'>
                <a href='water-features'>Water Features</a>
                <hr class='hr'>
                <a href='wood-structures'>Wood Structures</a>
            </a>
        </a>
    </div>
    <div class="right">
        <a href='about' class='navbtn'>About</a>
        <a href='contact' class='navbtn'>Contact</a>
    </div>
</div>

<div class="about">
  <h1 class='heading a'>Who We Are...</h1>
  <p class='aboutp'>S.E. Lynch Landscape Artistry is an award-winning, design-build landscape organization
    offering the very best in design, construction and maintenance. With our numerous years
    of experience in the Indianapolis metropolitan area, we are able to maximize any landscape
    need you desire. Our passion and enthusiasm for your project will allow for the best 
    possible solution for your property.
  </p>
</div>

<div class="cover">
  <h1 class='heading b'>Our Services</h1>
  <div class="services">
    <div class="design">
        <h2>Design</h2>
        <p class='info'>At S.E. Lynch Landscape Artistry, our most important design tool is our ability to listen.
          Fulfilling our client's wants and desires for their outdoor project through the creative process
          is our ultimate goal. Our design team can plan and implement your project to meet and exceed
          your expectations.
        </p>
        <br>
        <p class='info'>Our landscape design solutions may include:</p>
        <ul class='info'>
          <li>Patios, Driveways and Walkways</li>
          <li>Retaining Walls</li>
          <li>Ponds, Waterfalls and Streams</li>
          <li>Outdoor Kitchens</li>
          <li>Firepits and Fireplaces</li>
          <li>Low-Voltage Lighting</li>
          <li>Arbors and Pergolas</li>
          <li>Foundation and Screen Plantings</li>
          <li>Rock and Perrenial Gardens</li>
          <li>Landscape Master Planning</li>
        </ul>
    </div>
    <hr class='divide'>
    <div class="construction">
        <h2>Construction</h2>
        <p class='info'>Adding value and interest to your landscape is of primary concern at S.E. Lynch Landscape Artistry.
          If you can dream it, our knowledgeable and experienced team of installers can build it to your 
          specifications.
        </p>
        <br>
        <p class='info'>The elements we can build for you may include:</p>
        <ul class='info'>
          <li>Paver and Flagstone Steps</li>
          <li>Natural Stone Steps, Patios and Walkways</li>
          <li>Natural and Segmental Retaining Walls</li>
          <li>Cedar Arbors and Pergolas</li>
          <li>Natural Gas and Wood-Burning Firepits</li>
          <li>Water Features</li>
        </ul>
    </div>
    <hr class='divide'>
    <div class="maintenance">
        <h2>Maintenance</h2>
        <p class='info'>Behind every great looking landscape is an equally viable maintenance program. At S.E. Lynch
          Landscape Artistry, our dedicated professionals can execute a maintenance program that can 
          keep your new or existing landscape in top form for years to come.
        </p>
        <br>
        <p class='info'>Our landscape maintenance services may include:</p>
        <ul class='info'>
          <li>Spring and Fall Bed Cleanup</li>
          <li>Mulching and Bed Edging</li>
          <li>Pre-Emergent Weed Control and Weed Removal</li>
          <li>Annual Seasonal Color Programs</li>
          <li>Lawn Mowing and Trimming</li>
          <li>Lawn and Ornamental Fertilization</li>
          <li>Ornamental and Shrub Pruning</li>
          <li>Lawn Core Aeration</li>
          <li>Snow Removal and Ice Melting</li>
        </ul>
    </div>
  </div>
  
  <h1 class="heading c">The S.E. Lynch Design Process</h1>
  <div class="process">
    <div class="one">
        <h2>1. It's All About You</h2>
        <p class='info'>At S.E. Lynch Landscape Artistry, we realize you have many options in selecting a landscape
          firm. Our success in this industry comes from knowing our clients and building lasting relationships.
          We value your input and vision to help achieve the best possible solution for your selected
          project. <span class="red">We want to be your landscaper for life.</span> Our design professionals
          will meet with you at your home or business to discuss your landscaping goals, view the site and 
          most importantly, listen to your project wishes.
        </p>
    </div>
    <hr class='divide'>
    <div class="two">
        <h2>2. Your Canvas. Our Artistry.</h2>
        <p class='info'>Before execution of your landscape plan, digital photos of your property are taken to catalog
          every detail. A scaled landscape drawing is initiated, complete with all labeled features and a 
          cost estimate is done based on the design. A presentation appointment is set up between you and 
          our design professional for explanation, feedback and revisions if necessary. Once both parties
          agree on the design and proposal, a contract is signed and the project is scheduled.
        </p>
    </div>
    <hr class='divide'>
    <div class="three">
        <h2>3. The Finished Product</h2>
        <p class='info'>Once execution of your project begins, we will work diligently, without interruption, to complete
          the job in a timely manner. You can be sure every detail is implemented as planned. When your
          job is complete and to your satisfaction, a final walkthrough is scheduled. The project is now
          yours to enjoy.
        </p>
    </div>
  </div>
</div>

<div class='footer'>
    <!-- <div class='links'>
        <a href='about'>About Us</a>
        <a href='contact'>Contact Us</a>
    </div> -->

    <img src='../assets/Logos/newFooter.png' class='footlogo'>

    <div class='footinfo'>
        <span>&copy; 2018 S.E. Lynch Landscape Artistry</span> 
        <span class='spacer'>|</span> 
        <a class='link' href='https://jweiskittel.github.io'>Developed and Maintained by <img src='../assets/Logos/JWLogoBlack.png' class='jwlogo'> Development</a>
    </div>
</div>