<a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo'></a>
<div class='shadow'></div>
<div class='navbar'>
    <a href='home' class='home'>Home</a>
    <a href='#' class='dropbtn'>
        Services
        <a class='dropdown'>
            <a href='landscapes'>Landscapes</a>
            <hr class='hr'>
            <a href='hardscapes'>Hardscapes</a>
            <hr class='hr'>
            <a href='land-maintenance'>Landscape Maintenance</a>
            <hr class='hr'>
            <a href='land-design'>Landscape Design</a>
            <hr class='hr'>
            <a href='water-features'>Water Features</a>
            <hr class='hr'>
            <a href='wood-structures'>Wood Structures</a>
        </a>
    </a>
</div>

<div class='main'>
    <!-- <img src='../../assets/Hardscapes/HardscapesGray.png'> -->
    <h1>Hardscapes</h1>
    <p class='about'>S.E. Lynch Landscape Artistry has designed and constructed some of the most impressive hardscape
      features in the Indianapolis metropolitan area.
      The combination of our creative designs and experienced installers ensures your vision becomes reality. Let S.E.
      Lynch Landscape Artistry show you the possibilities for your hardscape solution.
    </p>
    <p>We offer:</p>
    <ul>
      <li>Paver Patios, Driveways and Walkways</li>
      <li>Natural Flagstone Patios, Paths and Walkways</li>
      <li>Natural Stone and Segmental Retaining Walls</li>
      <li>Natural Boulder Accents</li>
      <li>Firepits</li>
    </ul>

    <img src='../../assets/Hardscapes/main.png' class='pic'>
</div>