<router-outlet></router-outlet>

<div class='footer'>
    <!-- <div class='links'>
        <a href='about'>About Us</a>
        <a href='contact'>Contact Us</a>
    </div> -->

    <img src='../assets/Logos/newFooter.png' class='logo'>

    <div class='footinfo'>
        <span>&copy; 2018 S.E. Lynch Landscape Artistry</span> 
        <span class='spacer'>|</span> 
        <a class='link' href='https://jweiskittel.github.io'>Developed and Maintained by <img src='../assets/Logos/JWLogoBlack.png' class='jwlogo'> Development</a>
    </div>
</div>