.footer {
    width: 100%;
    background: white;
    padding: 1vw 0 1vw 0;
    font-family: 'Marcellus SC';
    font-weight: bold;
    text-align: center;
    color: black;
    box-shadow: 0px -2px 8px black
}

.logo {
    margin: auto;
    display: block;
    width: 60%
}

.links {
    text-align: center;
    margin-bottom: 1vh;
    font-size: 20px
}

.links a {
    color: black;
    margin: 2vh 13.7vw;
    padding-bottom: none;
    transition: .3s ease-in-out
}

.links a:hover {
    color: crimson;
    transform: scale(1.2)
}

.jwlogo {
    width: 2vw
}

.spacer {
    padding: 0 1vw
}

.footinfo {
    margin-top: 2vh;
}

.link {
    color: black;
    text-decoration: none;
    transition: .3s ease-in-out
}

.link:hover {
    color: crimson
}