<section *ngIf='navbar()'>
    <a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo'></a>
    <div class='shadow'></div>
    <div class='navbar'>
        <div class="left">
            <a href='home' class='navbtn'>Home</a>
            <a class='dropbtn navbtn'>
                Services
                <a class='dropdown'>
                    <a href='landscapes'>Landscapes</a>
                    <hr class='hr'>
                    <a href='hardscapes'>Hardscapes</a>
                    <hr class='hr'>
                    <a href='land-maintenance'>Landscape Maintenance</a>
                    <hr class='hr'>
                    <a href='land-design'>Landscape Design</a>
                    <hr class='hr'>
                    <a href='water-features'>Water Features</a>
                    <hr class='hr'>
                    <a href='wood-structures'>Wood Structures</a>
                </a>
            </a>
        </div>
        <div class="right">
            <a href='about' class='navbtn'>About</a>
            <a href='contact' class='navbtn'>Contact</a>
        </div>
    </div>
</section>

<div *ngIf='!navbar()'>
    <div class='navbar'>
        <a href='home' class='navbtn'>Home</a>
        <a class='navbtn dropbtn' (click)='menu()'>
            Services
            <a class='dropdown'>
                <a href='landscapes'>Landscapes</a>
                <hr class='hr'>
                <a href='hardscapes'>Hardscapes</a>
                <hr class='hr'>
                <a href='land-maintenance'>Landscape Maintenance</a>
                <hr class='hr'>
                <a href='land-design'>Landscape Design</a>
                <hr class='hr'>
                <a href='water-features'>Water Features</a>
                <hr class='hr'>
                <a href='wood-structures'>Wood Structures</a>
            </a>
        </a>
        <a href='home'><img src='../../assets/Logos/SE-Lynch-logo2.png' class='moblogo'></a>
        <a href='about' class='navbtn'>About</a>
        <a href='contact' class='navbtn'>Contact</a>
    </div>
</div>

<div class='main' (click)='nomenu()'>
    <h1>Landscape Maintenance</h1>
    <p class='about'>Behind every great looking landscape is an equally viable maintenance program.
        S.E. Lynch Landscape Artistry can tailor a customized landscape maintenance program to fit your home or
        business
        and keep your property in top form for years to come.
    </p>
    <p>Our maintenance services may include:</p>
    <ul>
        <li>Spring and Fall Bed Cleanup</li>
        <li>Mulching and Bed Edging</li>
        <li>Pre-Emergent Weed Control and Removal</li>
        <li>Annual Seasonal Color Programs</li>
        <li>Lawn Mowing and Trimming</li>
        <li>Lawn and Ornamental Fertilization</li>
        <li>Ornamental and Shrub Pruning</li>
        <li>Leaf Removal</li>
        <li>Lawn Core Aeration</li>
        <li>Snow Removal and Ice Melting</li>
    </ul>

    <img src='../../assets/Maintenance/main.png' class='pic'>

    <div *ngIf='carousel()'>
        <owl-carousel [options]='options' [items]='images' [carouselClasses]="['owl-theme', 'sliding']">
            <div class='item' *ngFor='let image of images'>
                <div>
                    <img src={{image}} class='owlimg'>
                </div>
            </div>
        </owl-carousel>
    </div>
</div>

<div class='footer'>
    <img src='../assets/Logos/newFooter.png' class='footlogo'>

    <div class='footinfo'>
        <span>&copy; 2018 S.E. Lynch Landscape Artistry</span>
        <span class='spacer'>|</span>
        <a class='link' href='https://jweiskittel.github.io'>Developed and Maintained by <img src='../assets/Logos/JWLogoBlack.png'
                class='jwlogo'> Development</a>
    </div>
</div>