<section *ngIf='navbar()'>
    <a routerLink='/home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo'></a>
    <div class='shadow'></div>
    <div class='navbar'>
        <div class="left">
            <a routerLink='/home' class='navbtn'>Home</a>
            <a class='dropbtn navbtn'>
                Services
                <a class='dropdown'>
                    <a routerLink='/landscapes'>Landscapes</a>
                    <hr class='hr'>
                    <a routerLink='/hardscapes'>Hardscapes</a>
                    <hr class='hr'>
                    <a routerLink='/land-maintenance'>Landscape Maintenance</a>
                    <hr class='hr'>
                    <a routerLink='/land-design'>Landscape Design</a>
                    <hr class='hr'>
                    <a routerLink='/water-features'>Water Features</a>
                    <hr class='hr'>
                    <a routerLink='/wood-structures'>Wood Structures</a>
                </a>
            </a>
        </div>
        <div class="right">
            <a routerLink='/about' class='navbtn'>About</a>
            <a routerLink='/contact' class='navbtn'>Contact</a>
        </div>
    </div>
</section>

<div *ngIf='!navbar()'>
    <div class='navbar'>
        <a routerLink='/home' class='navbtn'>Home</a>
        <a class='navbtn dropbtn' (click)='menu()'>
            Services
            <a class='dropdown'>
                <a routerLink='/landscapes'>Landscapes</a>
                <hr class='hr'>
                <a routerLink='/hardscapes'>Hardscapes</a>
                <hr class='hr'>
                <a routerLink='/land-maintenance'>Landscape Maintenance</a>
                <hr class='hr'>
                <a routerLink='/land-design'>Landscape Design</a>
                <hr class='hr'>
                <a routerLink='/water-features'>Water Features</a>
                <hr class='hr'>
                <a routerLink='/wood-structures'>Wood Structures</a>
            </a>
        </a>
        <a routerLink='/home'><img src='../../assets/Logos/SE-Lynch-logo2.png' class='moblogo'></a>
        <a routerLink='/about' class='navbtn'>About</a>
        <a routerLink='/contact' class='navbtn'>Contact</a>
    </div>
</div>

<div class='main' (click)='nomenu()'>
    <h1>Water Features</h1>
    <p class='about'>S.E. Lynch Landscape Artistry has been building custom water features from the company's
        inception. Water in the landscape draws the visitor in for a closer look and becomes the focal point of the
        entire setting.
        We can design and install ponds, waterfalls, streams, and custom fountains for a one-of-a-kind experience of
        outdoor enjoyment. Let S.E. Lynch Landscape Artistry make a splash in your landscape.
    </p>
    <p>Our water feature solutions may include:</p>
    <ul>
        <li>Garden Ponds</li>
        <li>Traditional and Pondless Waterfalls</li>
        <li>Streams</li>
        <li>Aquatic Plants and Fish</li>
        <li>Architectural Fountains</li>
    </ul>

    <img src='../../assets/Water/main.png' class='pic'>

    <div *ngIf='carousel()'>
        <owl-carousel [options]='options' [items]='images' [carouselClasses]="['owl-theme', 'sliding']">
            <div class='item' *ngFor='let image of images'>
                <div>
                    <img src={{image}} class='owlimg'>
                </div>
            </div>
        </owl-carousel>
    </div>
</div>


<div class='footer'>
    <img src='../assets/Logos/newFooter.png' class='footlogo'>

    <div class='footinfo'>
        <span>&copy; 2018 S.E. Lynch Landscape Artistry</span>
        <span class='spacer'>|</span>
        <a class='link' href='https://jweiskittel.github.io'>Developed and Maintained by <img src='../assets/Logos/JWLogoBlack.png'
                class='jwlogo'> Development</a>
    </div>
</div>