<a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo'></a>
<div class='navbar'>
    <a href='home' class='home'>Home</a>
    <a href='#' class='dropbtn'>
        Services
        <a class='dropdown'>
            <a href='landscapes'>Landscapes</a>
            <hr class='hr'>
            <a href='hardscapes'>Hardscapes</a>
            <hr class='hr'>
            <a href='land-maintenance'>Landscape Maintenance</a>
            <hr class='hr'>
            <a href='land-design'>Landscape Design</a>
            <hr class='hr'>
            <a href='water-features'>Water Features</a>
            <hr class='hr'>
            <a href='wood-structures'>Wood Structures</a>
        </a>
    </a>
</div>

<div class='main'>
    <img src='../../assets/Water/WaterFeaturesBlue.png'>
    <p class='about'>S.E. Lynch Landscape Artistry has been building custom water features from the company's
      inception. Water in the landscape draws the visitor in for a closer look and becomes the focal point of the
      entire setting.
      We can design and install ponds, waterfalls, streams, and custom fountains for a one-of-a-kind experience of
      outdoor enjoyment. Let S.E. Lynch Landscape Artistry make a splash in your landscape.
    </p>
    <p>Our water feature solutions may include:</p>
    <ul>
      <li>Garden Ponds</li>
      <li>Traditional and Pondless Waterfalls</li>
      <li>Streams</li>
      <li>Aquatic Plants and Fish</li>
      <li>Architectural Fountains</li>
    </ul>

    <img src='../../assets/Water/main.png' class='pic'>
</div>