<a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo'></a>
<div class='shadow'></div>
<div class='navbar'>
    <a href='home' class='home'>Home</a>
    <a href='#' class='dropbtn'>
        Services
        <a class='dropdown'>
            <a href='landscapes'>Landscapes</a>
            <hr class='hr'>
            <a href='hardscapes'>Hardscapes</a>
            <hr class='hr'>
            <a href='land-maintenance'>Landscape Maintenance</a>
            <hr class='hr'>
            <a href='land-design'>Landscape Design</a>
            <hr class='hr'>
            <a href='water-features'>Water Features</a>
            <hr class='hr'>
            <a href='wood-structures'>Wood Structures</a>
        </a>
    </a>
</div>

<div class='main'>
    <!-- <img src='../../assets/Wood/WoodBrown.png'> -->
    <h1>Wood Structures</h1>
    <p class='about'>S.E. Lynch Landscape Artistry can add the finishing touches to your outdoor living area or
      planting with a custom wood structure. Whether an overhead pergola for added shade on your patio
      is desired, or an arbor for entry to your perennial garden, we can add that special vertical element to make your
      space even more unique.
    </p>
    <p>Our wood accents may include:</p>
    <ul>
      <li>Cedar Pergolas</li>
      <li>Cedar Arbors</li>
      <li>Cedar Trellises</li>
      <li>Custom Screen Panels</li>
    </ul>

    <img src='../../assets/Wood/main.png' class='pic'>
</div>