.main {
    background: linear-gradient(148deg, rgba(0,0,0,1) 0%, #009551 50%, rgba(0,0,0,1) 100%);
    background-attachment: fixed;
    height: 165vh;
    padding-top: 17vh
}

.blast {
    display: flex;
    justify-content: space-evenly
}

.left, .middle, .right {
    width: 33.3%
}

.def {
    font-size: 20px;
    margin-right: 5px
}




/* Left side */

.homeLeft {
    width: 100%
}

#passion {
    font-size: 70px;
    /* font-style: italic; */
    font-family: 'Dancing Script';
    color: white;
    position: absolute;
    z-index: 100;
    top: 42%;
    left: 4%;
    text-shadow: -5px 3px 2px black, 12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29), 
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29);
    transition: .6s
}

#passiondef {
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10rem;
    position: absolute;
    top: 57%;
    left: 1%;
    padding: 5px 10px;
    transition: 1s;
    box-shadow: 1px 1px 4px rgb(253, 29, 29), -1px 1px 4px rgb(253, 29, 29), 1px -1px 4px rgb(253, 29, 29), -1px -1px 4px rgb(253, 29, 29)
}

#passion:hover {
    font-size: 80px
}

#passion:hover + #passiondef {
    opacity: 1
}

#creative {
    font-size: 70px;
    /* font-style: italic; */
    font-family: 'Dancing Script';
    color: white;
    position: absolute;
    z-index: 100;
    top: 99%;
    left: 15%;
    text-shadow: -5px 3px 2px black, 12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29), 
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29);
    transition: .6s
}

#creativedef {
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10rem;
    position: absolute;
    top: 114%;
    left: 6%;
    padding: 5px 10px;
    transition: 1s;
    box-shadow: 1px 1px 4px rgb(253, 29, 29), -1px 1px 4px rgb(253, 29, 29), 1px -1px 4px rgb(253, 29, 29), -1px -1px 4px rgb(253, 29, 29)
}

#creative:hover {
    font-size: 80px
}

#creative:hover + #creativedef {
    opacity: 1
}





/* Middle */

.middle {
    text-align: center
}

.logo {
    margin: 10vh auto 0 auto;
    display: block;
    width: 80%
}

.slogan {
    font-size: 40px;
    font-family: 'Anton';
    color: white;
    text-shadow: -5px 3px 2px black, 12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29), 
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29);
    margin-top: 5vh
}





/* Right side */

.homeRight {
    width: 100%
}

#artistry {
    font-size: 70px;
    /* font-style: italic; */
    font-family: 'Dancing Script';
    color: white;
    position: absolute;
    z-index: 100;
    top: 38%;
    left: 82%;
    text-shadow: -5px 3px 2px black, 12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29), 
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29);
    transition: .6s
}

#artistrydef {
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10rem;
    position: absolute;
    top: 54%;
    left: 81%;
    padding: 5px 10px;
    transition: 1s;
    box-shadow: 1px 1px 4px rgb(253, 29, 29), -1px 1px 4px rgb(253, 29, 29), 1px -1px 4px rgb(253, 29, 29), -1px -1px 4px rgb(253, 29, 29)
}

#artistry:hover {
    font-size: 80px
}

#artistry:hover + #artistrydef {
    opacity: 1
}

#expression {
    font-size: 70px;
    /* font-style: italic; */
    font-family: 'Dancing Script';
    color: white;
    position: absolute;
    z-index: 100;
    top: 94%;
    left: 72%;
    text-shadow: -5px 3px 2px black, 12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29), 
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29),
                                       12px 12px 44px rgb(253, 29, 29), -12px 12px 44px rgb(253, 29, 29),12px -12px 44px rgb(253, 29, 29), -12px -12px 44px rgb(253, 29, 29);
    transition: .6s
}

#expressiondef {
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10rem;
    position: absolute;
    top: 112%;
    left: 64%;
    padding: 5px 10px;
    transition: 1s;
    box-shadow: 1px 1px 4px rgb(253, 29, 29), -1px 1px 4px rgb(253, 29, 29), 1px -1px 4px rgb(253, 29, 29), -1px -1px 4px rgb(253, 29, 29)
}

#expression:hover {
    font-size: 80px
}

#expression:hover + #expressiondef {
    opacity: 1
}







.hr {
    background: black;
    width: 50%;
    margin: 0 auto
}

a {
    margin: auto;
    text-decoration: none
}






/* Navbar */

.navbar {
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    background: white;
    box-shadow: 0px 2px 8px black;
    position: fixed;
    top: 0;
    z-index:199;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15vw;
}

.logo2 {
    width: 11vw;
    margin-left: -5.5vw;
    background: white;
    position: fixed;
    z-index: 200;
    transition: 1s ease-in-out;
    left: 50%;
    top: 0
}

.dropdown {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: white;
    height: 0;
    color: transparent;
    transform: translateX(-1.4vw);
    transition: all .7s ease-in-out;
}

.dropbtn:hover .dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 200;
    height: 800%;
    transform: translateY(0.2%) translateX(-6.4vw)
}

.dropdown a {
    padding: .5vw 2vw;
    color: black;
    font-size: 20px;
    transition: 1s;
    width: 100%;
    z-index: 300;
    position: relative;
    text-align: center
}

.dropdown a:hover {
    transform: scale(1.1);
    color: white;
    background: rgb(253, 29, 29)
}


.home, .dropbtn {
    color: black;
    text-decoration: none;
    font-family: 'Marcellus SC';
    font-weight: bold;
    font-size: 24px;
    transition: 1s
}

.home:hover {
    transform: scale(1.2)
}