<section *ngIf='navbar()'>
    <a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo2'></a>
    <div class='shadow'></div>
    <div class='navbar'>
        <div class="navleft">
            <a href='home' class='navbtn'>Home</a>
            <a class='dropbtn navbtn'>
                Services
                <a class='dropdown'>
                    <a href='landscapes'>Landscapes</a>
                    <hr class='hr'>
                    <a href='hardscapes'>Hardscapes</a>
                    <hr class='hr'>
                    <a href='land-maintenance'>Landscape Maintenance</a>
                    <hr class='hr'>
                    <a href='land-design'>Landscape Design</a>
                    <hr class='hr'>
                    <a href='water-features'>Water Features</a>
                    <hr class='hr'>
                    <a href='wood-structures'>Wood Structures</a>
                </a>
            </a>
        </div>
        <div class="navright">
            <a href='about' class='navbtn'>About</a>
            <a href='contact' class='navbtn'>Contact</a>
        </div>
    </div>
</section>

<div *ngIf='!navbar()'>
        <div class='navbar'>
            <a href='home' class='navbtn'>Home</a>
            <a class='navbtn dropbtn' (click)='menu()'>
                Services
                <a class='dropdown'>
                    <a href='landscapes'>Landscapes</a>
                    <hr class='hr'>
                    <a href='hardscapes'>Hardscapes</a>
                    <hr class='hr'>
                    <a href='land-maintenance'>Landscape Maintenance</a>
                    <hr class='hr'>
                    <a href='land-design'>Landscape Design</a>
                    <hr class='hr'>
                    <a href='water-features'>Water Features</a>
                    <hr class='hr'>
                    <a href='wood-structures'>Wood Structures</a>
                </a>
            </a>
            <a href='home'><img src='../../assets/Logos/SE-Lynch-logo2.png' class='moblogo'></a>
            <a href='about' class='navbtn'>About</a>
            <a href='contact' class='navbtn'>Contact</a>
        </div>
    </div>

<div *ngIf='display()'>
    <div class='main'>
        <div class='blast'>
            <div class="left">
                <img src='../../assets/home/homeLeft.png' class='homeLeft'>
                <p id='passion'>Passion</p>
                <p id='passiondef'><span class='def'>pas&middot;sion:</span> strong and barely controllable emotion</p>
                <p id='creative'>Creativity</p>
                <p id="creativedef"><span class='def'>cre&middot;a&middot;tiv&middot;i&middot;ty:</span> the use of the
                    imagination or original ideas, especially in the production of an artistic work</p>
            </div>
            <div class="middle">
                <img class='logo' src='../../assets/Logos/tablogo.png'>
                <p class='slogan'>Your Canvas. Our Artistry.</p>
            </div>
            <div class="right">
                <img src='../../assets//home/homeRight.png' class='homeRight'>
                <p id='artistry'>Artistry</p>
                <p id='artistrydef'><span class='def'>art&middot;ist&middot;ry:</span> creative skill or ability</p>
                <p id="expression">Expression</p>
                <p id="expressiondef"><span class='def'>ex&middot;pres&middot;sion:</span> the process of making known
                    one's thoughts or feelings</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf='!display()'>
    <div class="main" (click)='nomenu()'>
        <img src='../../assets/Logos/tablogo.png' class='wow slower fadeIn delay-500ms logo'>
        <p class="slogan wow slower fadeIn delay-1s500ms">Your Canvas. Our Artistry.</p>
        <div class="about">
            <p>S.E. Lynch Landscape Artistry is an award-winning, design-build landscape organization
                offering the very best in design, construction and maintenance. With our numerous years
                of experience in the Indianapolis metropolitan area, we are able to maximize any landscape
                need you desire. Our passion and enthusiasm for your project will allow for the best
                possible solution for your property.</p>
        </div>

        <div>
            <h1>Our Services</h1>

            <div class='services'>
                <a href='landscapes'><h2>Landscapes</h2></a>
                <a href='landscapes'><img src='../../assets/Landscapes/pic2.png' class='picture'></a>
            </div>

            <div class='services'>
                <a href='hardscapes'><h2>Hardscapes</h2></a>
                <a href='hardscapes'><img src='../../assets/Hardscapes/pic2.png' class='picture'></a>
            </div>

            <div class='services'>
                <a href='land-maintenance'><h2>Landscape Maintenance</h2></a>
                <a href='land-maintenance'><img src='../../assets/Maintenance/pic1.png' class='picture'></a>
            </div>

            <div class='services'>
                <a href='land-design'><h2>Landscape Design</h2></a>
                <a href='land-design'><img src='../../assets/Design/pic2.png' class='picture'></a>
            </div>

            <div class='services'>
                <a href='water-features'><h2>Water Features</h2></a>
                <a href='water-features'><img src='../../assets/Water/pic3.png' class='picture'></a>
            </div>

            <div class='services'>
                <a href='wood-structures'><h2>Wood Structures</h2></a>
                <a href='wood-structures'><img src='../../assets/Wood/pic3.png' class='picture'></a>
            </div>

        </div>
    </div>
</div>

<div class='footer'>
    <img src='../assets/Logos/newFooter.png' class='footlogo'>

    <div class='footinfo'>
        <span>&copy; 2018 S.E. Lynch Landscape Artistry</span>
        <span class='spacer'>|</span>
        <a class='link' href='https://jweiskittel.github.io'>Developed and Maintained by <img src='../assets/Logos/JWLogoBlack.png'
                class='jwlogo'> Development</a>
    </div>
</div>