<a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo2'></a>
<div class='shadow'></div>
<div class='navbar'>
    <div class="navleft">
        <a href='home' class='navbtn'>Home</a>
        <a href='#' class='dropbtn navbtn'>
            Services
            <a class='dropdown'>
                <a href='landscapes'>Landscapes</a>
                <hr class='hr'>
                <a href='hardscapes'>Hardscapes</a>
                <hr class='hr'>
                <a href='land-maintenance'>Landscape Maintenance</a>
                <hr class='hr'>
                <a href='land-design'>Landscape Design</a>
                <hr class='hr'>
                <a href='water-features'>Water Features</a>
                <hr class='hr'>
                <a href='wood-structures'>Wood Structures</a>
            </a>
        </a>
    </div>
    <div class="navright">
        <a href='about' class='navbtn'>About Us</a>
        <a href='contact' class='navbtn'>Contact Us</a>
    </div>
</div>

<div class='main'>
  <div class='blast'>
    <div class="left">
      <img src='../../assets/home/homeLeft.png' class='homeLeft'>
      <p id='passion'>Passion</p>
      <p id='passiondef'><span class='def'>pas&middot;sion:</span> strong and barely controllable emotion</p>
      <p id='creative'>Creativity</p>
      <p id="creativedef"><span class='def'>cre&middot;a&middot;tiv&middot;i&middot;ty:</span> the use of the imagination or original ideas, especially in the production of an artistic work</p>
    </div>
    <div class="middle">
      <img class='logo' src='../../assets/Logos/tablogo.png'>
      <p class='slogan'>Your Vision. Our Artistry.</p>
    </div>
    <div class="right">
      <img src='../../assets//home/homeRight.png' class='homeRight'>
      <p id='artistry'>Artistry</p>
      <p id='artistrydef'><span class='def'>art&middot;ist&middot;ry:</span> creative skill or ability</p>
      <p id="expression">Expression</p>
      <p id="expressiondef"><span class='def'>ex&middot;pres&middot;sion:</span> the process of making known one's
        thoughts or feelings</p>
    </div>
  </div>
</div>

<div class='footer'>
    <!-- <div class='links'>
        <a href='about'>About Us</a>
        <a href='contact'>Contact Us</a>
    </div> -->

    <img src='../assets/Logos/newFooter.png' class='footlogo'>

    <div class='footinfo'>
        <span>&copy; 2018 S.E. Lynch Landscape Artistry</span> 
        <span class='spacer'>|</span> 
        <a class='link' href='https://jweiskittel.github.io'>Developed and Maintained by <img src='../assets/Logos/JWLogoBlack.png' class='jwlogo'> Development</a>
    </div>
</div>