.main {
    background: url('../../assets/Landscapes/landBack2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 220vh;
    padding-top: 7vh;
}

.about {
    width: 40%;
    margin-bottom: 6vh
}

p {
    color: white;
    padding-left: 5vw;
    font-family: 'Anton';
    line-height: 5vh;
    font-size: 22px;
    text-shadow: -2px 2px 2px black
}

ul {
    color: white;
    padding-left: 6vw;
    list-style: none;
    font-family: 'Anton';
    line-height: 6vh;
    font-size: 22px;
    text-shadow: -2px 2px 2px black
}

li:before {
    content: '';
    height: 0.5vw;
    width: 0.5vw;
    transform: rotate(45deg);
    background: white;
    display: inline-block;
    margin-right: 1vw;
    position: relative;
    bottom: .4vw;
    box-shadow: -0.5px 3px 2px black
}

.pic {
    width: 95vw;
    position: absolute;
    top: 18%;
    right: 1%
}

.hr {
    background: black;
    width: 0%;
    margin: auto;
    transition: all .8s ease-in-out
}

a {
    margin: auto;
    text-decoration: none
}




/* Navbar */

.navbar {
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    background: white;
    box-shadow: 0px 2px 8px black;
    position: fixed;
    top: 0;
    z-index:199;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15vw;
}

.shadow {
    width: 11.04vw;
    height: 8.67vw;
    background: white;
    border-radius: 5%;
    position: fixed;
    z-index: 198;
    box-shadow: 2px 2px 10px black, -2px 0px 10px black;
    transition: 1s ease-in-out;
    left: 50%;
    margin-left: -5.52vw;
    top: 0
}

.logo {
    width: 11vw;
    margin-left: -5.5vw;
    background: white;
    border-radius: 5%;
    position: fixed;
    z-index: 200;
    transition: 1s ease-in-out;
    left: 50%;
    top: 0
}

.dropdown {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: white;
    height: 800%;
    color: transparent;
    transform: translateX(5vw);
    transition: all .8s ease-in-out;
}

.dropbtn:hover .dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 200;
    transform: translateY(0.2%) translateX(-6.4vw);
}

.dropbtn:hover a {
    font-size: 20px
}

.dropbtn:hover .hr {
    width: 50%
}

.dropdown a {
    padding: .5vw 2vw;
    color: black;
    font-size: 0px;
    transition: 1s;
    width: 100%;
    z-index: 300;
    position: relative;
    text-align: center
}

.dropdown a:hover {
    transform: scale(1.1);
    color: white;
    background: rgb(33, 62, 65)
}


.home, .dropbtn {
    color: black;
    text-decoration: none;
    font-family: 'Marcellus SC';
    font-weight: bold;
    font-size: 24px;
    transition: 1s
}

.home:hover {
    transform: scale(1.2)
}