<section *ngIf='navbar()'>
    <a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo'></a>
    <div class='shadow'></div>
    <div class='navbar'>
        <div class="left">
            <a href='home' class='navbtn'>Home</a>
            <a class='dropbtn navbtn'>
                Services
                <a class='dropdown'>
                    <a href='landscapes'>Landscapes</a>
                    <hr class='hr'>
                    <a href='hardscapes'>Hardscapes</a>
                    <hr class='hr'>
                    <a href='land-maintenance'>Landscape Maintenance</a>
                    <hr class='hr'>
                    <a href='land-design'>Landscape Design</a>
                    <hr class='hr'>
                    <a href='water-features'>Water Features</a>
                    <hr class='hr'>
                    <a href='wood-structures'>Wood Structures</a>
                </a>
            </a>
        </div>
        <div class="right">
            <a href='about' class='navbtn'>About</a>
            <a href='contact' class='navbtn'>Contact</a>
        </div>
    </div>
</section>

<div *ngIf='!navbar()'>
    <div class='navbar'>
        <a href='home' class='navbtn'>Home</a>
        <a class='navbtn dropbtn'>
            Services
            <a class='dropdown'>
                <a href='landscapes'>Landscapes</a>
                <hr class='hr'>
                <a href='hardscapes'>Hardscapes</a>
                <hr class='hr'>
                <a href='land-maintenance'>Landscape Maintenance</a>
                <hr class='hr'>
                <a href='land-design'>Landscape Design</a>
                <hr class='hr'>
                <a href='water-features'>Water Features</a>
                <hr class='hr'>
                <a href='wood-structures'>Wood Structures</a>
            </a>
        </a>
        <a href='home'><img src='../../assets/Logos/SE-Lynch-logo2.png' class='moblogo'></a>
        <a href='about' class='navbtn'>About</a>
        <a href='contact' class='navbtn'>Contact</a>
    </div>
</div>

<div class='main'>
    <h1>Landscape Design</h1>
    <p class='about'>S.E. Lynch Landscape Artistry can lend its talents to your landscape vision through our design and
        consultation services.
        We believe the best landscapes are achieved when we get to know our clients and their interaction with their
        outdoor spaces.
        Let us show you the possibilities of what a personalized landscape design can do for your property.
    </p>
    <p>Our design solutions may include:</p>
    <ul>
        <li>Patios, Driveways and Walkways</li>
        <li>Retaining Walls</li>
        <li>Ponds, Waterfalls and Streams</li>
        <li>Firepits and Fireplaces</li>
        <li>Low-Voltage Lighting</li>
        <li>Arbors and Pegolas</li>
        <li>Foundation and Screen Plantings</li>
        <li>Rock and Perennial Gardens</li>
        <li>Landscape Master Planning</li>
    </ul>

    <img src='../../assets/Design/main.png' class='pic'>

    <div *ngIf='carousel()'>
        <owl-carousel [options]='options' [items]='images' [carouselClasses]="['owl-theme', 'sliding']">
            <div class='item' *ngFor='let image of images'>
                <div>
                    <img src={{image}} class='owlimg'>
                </div>
            </div>
        </owl-carousel>
    </div>
</div>

<div class='footer'>
    <!-- <div class='links'>
            <a href='about'>About Us</a>
            <a href='contact'>Contact Us</a>
        </div> -->

    <img src='../assets/Logos/newFooter.png' class='footlogo'>

    <div class='footinfo'>
        <span>&copy; 2018 S.E. Lynch Landscape Artistry</span>
        <span class='spacer'>|</span>
        <a class='link' href='https://jweiskittel.github.io'>Developed and Maintained by <img src='../assets/Logos/JWLogoBlack.png'
                class='jwlogo'> Development</a>
    </div>
</div>