<a href='home'><img src='../assets/Logos/SE-Lynch-logo2.png' class='logo'></a>
<div class='shadow'></div>
<div class='navbar'>
    <a href='home' class='home'>Home</a>
    <a href='#' class='dropbtn'>
        Services
        <a class='dropdown'>
            <a href='landscapes'>Landscapes</a>
            <hr class='hr'>
            <a href='hardscapes'>Hardscapes</a>
            <hr class='hr'>
            <a href='land-maintenance'>Landscape Maintenance</a>
            <hr class='hr'>
            <a href='land-design'>Landscape Design</a>
            <hr class='hr'>
            <a href='water-features'>Water Features</a>
            <hr class='hr'>
            <a href='wood-structures'>Wood Structures</a>
        </a>
    </a>
</div>

<div class='main'>
    <!-- <img src='../../assets/Design/LandscapeDesign.png'> -->
    <h1>Landscape Design</h1>
    <p class='about'>S.E. Lynch Landscape Artistry can lend its talents to your landscape vision through our design and
      consultation services.
      We believe the best landscapes are achieved when we get to know our clients and their interaction with their
      outdoor spaces.
      Let us show you the possibilities of what a personalized landscape design can do for your property.
    </p>
    <p>Our design solutions may include:</p>
    <ul>
      <li>Patios, Driveways and Walkways</li>
      <li>Retaining Walls</li>
      <li>Ponds, Waterfalls and Streams</li>
      <li>Firepits and Fireplaces</li>
      <li>Low-Voltage Lighting</li>
      <li>Arbors and Pegolas</li>
      <li>Foundation and Screen Plantings</li>
      <li>Rock and Perennial Gardens</li>
      <li>Landscape Master Planning</li>
    </ul>

    <img src='../../assets/Design/main.png' class='pic'>
</div>